@import url($font-url--google);


// BASE STYLES
body {
    @extend %mar-pad;
    background: color(black);
    line-height: 1.5;
    font-family: $font-primary;
}

.container {
    width: 95%;
    max-width: $max-width;
    margin: auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: em(64px);
    color: color(real-white);
}


h2 {
    @extend %dirt-white-weight;
    font-size: em(30px);
    display: inline-block;
    padding: 0 em(30px) em(10px) 0;
    border-bottom: 1px solid color(white);
}

h3 {
    @extend %dirt-white-weight;
    font-size: em(24px);
}

p {
    font-size: em(15px);
    color: color(dark-grey);
}

a {
    color: color(real-white);
    text-decoration: none;
}

ul {
    list-style-type: none;
}